@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600&display=swap");
body {
  font-family: "IBM Plex Sans KR", sans-serif;
}
/* 공통 */
/* font size 40px ,weight 600 */
.fs40_fw600 {
  font-size: 40px;
  font-weight: 600;
}
/* input type = text */
.inputBox {
  text-align: center;
  width: 70%;
  margin-top: 15px;
  /* width: auto; */
  font-size: 40px;
  font-weight: 600;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  border-bottom: solid 3px #fff;
  color: #fff;
}
.inputBox:focus {
  outline: none;
}

/* 이름 입력창 - 초기화면 */
header {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 5px 20px;
  box-sizing: border-box;
  align-items: center;
}
/*-- 명언--*/
header #quotesContents,
header #weather {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background-color: rgba(51, 51, 51, 0.2);
  border-radius: 50px;
  box-sizing: border-box; */
}
header #quotesContents span,
header #weather span {
  font-size: 13px;
  color: #fff;
  font-weight: 300;
  padding: 3px 0;
}
header #quotesContents span:last-child,
header #weather span:last-child {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 12px;
}
.mainCenter {
  height: 600px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* 중간 섹션 - 이름 입력창 */
.mainCenter #inputName.none {
  display: none;
}
.mainCenter #inputName {
  display: block;
  width: 900px;
  height: 150px;
  text-align: center;
}
.mainCenter #inputName #name_infoText {
  color: #fff;
}

/* 중간 섹션 - 시계 */
.mainCenter #userTrue {
  display: none;
}
.mainCenter #userTrue.active {
  display: block;
  height: 100%;
  padding-top: 80px;
  box-sizing: border-box;
}
.mainCenter .clock_intro {
  text-align: center;
  height: 270px;
  /* display: none; */
}
.mainCenter .clock_intro {
  /* display: block; */
}
.clockIcon {
  font-size: 35px;
}
.mainCenter .clock_intro #clock {
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 150px;
  font-weight: 600;
  color: #fff;
}
.mainCenter .clock_intro .introText {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.2);
  border-radius: 50px;
  padding: 5px 0;
  box-sizing: border-box;
  line-height: 40px;
  color: #fff;
}
.mainCenter .clock_intro .introText #timeText {
  margin-right: 10px;
}
.mainCenter .clock_intro .introText #nameText {
  /* color: #0335b3; */
}
/* --오늘제일 중요한일 today focus-- */

.mainCenter #fouseContents {
  position: relative;
  height: 150px;
}
/* .mainCenter .focusForm {
  display: none;
} */
.mainCenter .focusForm {
  /* display: block; */

  height: 150px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  align-items: center;
  /* background-color: rgba(51, 51, 51, 0.2);
  border-radius: 50px;
  padding: 5px 30px;
  box-sizing: border-box; */
}
.focusForm.hidden {
  opacity: 0;
  transition: opacity 0.5s;
}
.mainCenter #fouseContents .focusList {
  opacity: 0;
}
.mainCenter #fouseContents .focusList.active {
  opacity: 1;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  width: 100%;
  height: 150px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainCenter #fouseContents .focusList span {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 0;
}
.mainCenter #fouseContents .focusList span:last-child {
  font-size: 23px;
  font-weight: 400;
}
.mainCenter #fouseContents .focusList span:first-child {
}
.mainCenter #fouseContents .focusList ul {
  width: 100%;
  height: 30px;
}
.mainCenter #fouseContents .focusList ul li input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
}
/* 반응형*/
@media (max-width: 500px) {
  /* 이름입력창 반응형 */
  .mainCenter #inputName {
    width: 90%;
    height: 150px;
    text-align: center;
  }
  .mainCenter #inputName .name_inputBox {
    width: 90%;
  }
  /* 이름입력후 시계 반응형 */
  .mainCenter .clock_intro {
    /* width: 330px; */
    /* width: 90%; */
  }
  .mainCenter .clock_intro #clock {
    font-size: 80px;
    font-weight: 600;
    color: #fff;
  }
  .mainCenter .clock_intro .introText {
    flex-direction: column;
  }
  .mainCenter .clock_intro .introText #timeText {
    font-size: 20px;
    margin-right: 0px;
  }
  .mainCenter .clock_intro .introText #nameText {
    margin-top: -10px;
    font-size: 20px;
    border-bottom: 3px solid #fff;
  }
  .mainCenter .focusForm {
    margin-top: 10px;
  }
  .mainCenter .focusForm #focusText {
    display: block;
    font-size: 20px;
  }
  .mainCenter .focusForm .inputBox {
    font-size: 20px;
    font-weight: 400;
    width: 90%;
  }
  header #quotesContents,
  header #weather {
    margin-top: 0px;
  }
  header #quotesContents span,
  header #weather span {
    font-size: 10px;
    color: #fff;
    font-weight: 300;
    padding: 2px 0;
  }
  .mainCenter #fouseContents .focusList.active {
    /* height: 50px; */
  }
  .mainCenter #fouseContents .focusList span {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 0;
  }
  .mainCenter #fouseContents .focusList span:last-child {
    font-size: 15px;
    font-weight: 400;
  }
}
