@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;400;500;600&display=swap");

/* ✅ 공통 */
/* font size 40px ,weight 600 */
.fs40_fw600 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
}

/* ✅ 이름, focus입력창 공통 스타일 */
.inputBox {
  text-align: center;
  width: 70%;
  margin-top: 15px;
  /* width: auto; */
  font-size: 40px;
  font-weight: 600;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  border-bottom: solid 3px #fff;
  color: #fff;
}
.inputBox:focus,
.todoInput:focus {
  outline: none;
}

/* ✅바디  */
body {
  font-family: "IBM Plex Sans KR", sans-serif;
}

/* ✅헤더  */
header {
  margin-top: 5px;
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: baseline;
}
/*✅ 명언*/
header #quotesContents,
header #weather {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background-color: rgba(51, 51, 51, 0.2);
  border-radius: 50px;
  box-sizing: border-box; */
}
header #quotesContents span,
header #weather span {
  font-size: 13px;
  color: #fff;
  font-weight: 300;
  padding: 3px 0;
}
header #quotesContents span:last-child,
header #weather span {
  font-size: 12px;
}
header #weather #iconTemp img {
  width: 35px;
  height: 35px;
  margin-top: 3px;
}
header #weather #iconTemp span:last-child {
  font-size: 20px;
  font-weight: 600;
}
.mainCenter {
  /* height: 100%; */
  height: 90vh;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
/* ✅ 초기화면 - 이름 입력창 */
.mainCenter #inputName.none {
  display: none;
}
.mainCenter #inputName {
  display: block;
  width: 900px;
  height: 150px;
  text-align: center;
}
.mainCenter #inputName #name_infoText {
  color: #fff;
}

/* ✅ 시간 영역 - 시계, 시간별 문구 출력 */
.mainCenter #userTrue {
  display: none;
}
.mainCenter #userTrue.active {
  display: block;
  /* height: 90vh; */
  padding-top: 80px;
  box-sizing: border-box;
}
.mainCenter .clock_intro {
  text-align: center;
  height: 270px;
}
.clockIcon {
  font-size: 35px;
}
.mainCenter .clock_intro #clock {
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 150px;
  font-weight: 600;
  color: #fff;
}
.mainCenter .clock_intro .introText {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.2);
  border-radius: 50px;
  padding: 5px 0;
  box-sizing: border-box;
  line-height: 40px;
  color: #fff;
}
.mainCenter .clock_intro .introText span #timeText {
  margin-right: 10px;
}
.mainCenter .clock_intro .introText .nameBtnMenu {
  opacity: 0;
  transition: opacity 0.5s;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainCenter .clock_intro .introText .nameBtnMenu.focus {
  opacity: 1;
  transition: opacity 0.5s;
}
#nameModiBtn,
#nameDelBtn {
  border: 1px solid #333;
  margin: 2px 0;
  border-radius: 3px;
}
#nameModiBtn:hover,
#nameDelBtn:hover {
  cursor: pointer;
  background-color: rgb(237, 231, 144);
}

/* ✅ Today Focus */
.mainCenter #fouseContents {
  position: relative;
  height: 150px;
}
.mainCenter .focusForm {
  height: 150px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  align-items: center;
  /* background-color: rgba(51, 51, 51, 0.2);
  border-radius: 50px;
  padding: 5px 30px;
  box-sizing: border-box; */
}
.focusForm.hidden {
  opacity: 0;
  transition: opacity 0.5s;
}
.mainCenter #fouseContents .focusList {
  opacity: 0;
}
.mainCenter #fouseContents .focusList.active {
  opacity: 1;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  width: 100%;
  height: 150px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainCenter #fouseContents .focusList span {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 0;
}
.mainCenter #fouseContents .focusList span:last-child {
  font-size: 23px;
  font-weight: 400;
}
.mainCenter #fouseContents .focusList span:first-child {
}
.mainCenter #fouseContents .focusList ul {
  width: 100%;
  height: 30px;
}
.mainCenter #fouseContents .focusList ul li input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  cursor: pointer;
}

/* ✅ todoList */
.mainCenter #todoContents {
  position: absolute;
  right: 7px;
  bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.mainCenter #todoContents #todoList {
  width: 250px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  margin-bottom: 10px;
  color: #000;
  font-size: 13.5px;
  font-weight: 400;
  padding: 15px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.7s;
}
.mainCenter #todoContents #todoList.toggle {
  opacity: 1;
  transition: opacity 0.7s;
}
.mainCenter #todoContents #todoList p {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}
.mainCenter #todoContents #todoList #todoAddBtn {
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 50px;
}
.mainCenter #todoContents #todoList #todoAddBtn:hover {
  cursor: pointer;
  background-color: rgb(237, 231, 144);
  text-align: center;
}
.mainCenter #todoContents #todoList form .todoInput {
  text-align: center;
  width: 95%;
  margin: 7px 0 15px 0;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #7e7e7e;
  color: #333;
}
.todoInput::placeholder {
  font-size: 18px;
  color: rgba(126, 126, 126, 0.5);
}
.mainCenter #todoContents #todoList ul {
  width: 100%;
  height: 250px;
  overflow: auto;
}
.mainCenter #todoContents #todoList ul li {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}
.mainCenter #todoContents #todoList ul li div {
  padding-top: 3px;
}
.mainCenter #todoContents #todoList ul li div span {
  font-size: 14px;
}
.mainCenter #todoContents #todoList ul li div span:last-child {
  margin-left: 10px;
  color: #252525;
}
.mainCenter #todoContents #todoList ul li button {
  /* margin-left: 3px; */
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid#ccc;
  border-radius: 3px;
  width: 28px;
  height: 22px;
  font-size: 10px;
}
.mainCenter #todoContents #todoList ul li button:hover {
  background-color: rgb(237, 231, 144);
  cursor: pointer;
}
.mainCenter #todoContents #listShowBtn {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  align-self: flex-end;
  text-align: center;
}

/* -------------------------------------------------- */

/* 반응형*/
@media (max-width: 500px) {
  /*✅ 초기화면 - 이름입력*/
  .mainCenter #inputName {
    width: 90%;
    height: 150px;
    text-align: center;
  }
  .mainCenter #inputName .name_inputBox {
    width: 90%;
  }
  /*✅ 시계 */
  .mainCenter .clock_intro #clock {
    font-size: 80px;
    font-weight: 600;
    color: #fff;
  }
  .mainCenter .clock_intro .introText {
    flex-direction: column;
    margin-top: 10px;
  }
  .mainCenter .clock_intro .introText span {
    margin-top: 20px;
  }
  .mainCenter .clock_intro .introText span #timeText {
    font-size: 20px;
    margin-right: 0px;
  }
  .mainCenter .clock_intro .introText span #nameText {
    font-size: 20px;
    border-bottom: 3px solid #fff;
  }
  .clockIcon {
    font-size: 25px;
  }

  /*✅ Today Focus*/
  .mainCenter .focusForm {
    margin-top: 10px;
  }
  .mainCenter .focusForm #focusText {
    display: block;
    font-size: 15px;
  }
  .mainCenter .focusForm .inputBox {
    font-size: 20px;
    font-weight: 400;
    width: 90%;
  }
  .mainCenter #fouseContents .focusList span {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 0;
  }
  .mainCenter #fouseContents .focusList span:last-child {
    font-size: 15px;
    font-weight: 400;
  }

  /*✅ 명언, 날씨*/
  header #quotesContents,
  header #weather {
    margin-top: 0px;
  }
  header #quotesContents span:last-child,
  header #weather #weatherCity {
    font-size: 11px;
    color: #fff;
    font-weight: 300;
    padding: 2px 0;
  }
  header #weather #iconTemp img {
    width: 25px;
    height: 25px;
    margin-top: 3px;
  }
  header #weather #iconTemp span:last-child {
    font-size: 15px;
    font-weight: 600;
  }
}
